@font-face {
  font-family: 'Red Hat Display', sans-serif;
}

html, body {
  font-family: 'Red Hat Display', sans-serif !important;
}

/* Variables */
$admin-bg-color: #FAFAFA;

.bg-primary, div > .bg-primary {
  color: white !important;
}

.admin-bg-color, div > .admin-bg-color {
  background-color: $admin-bg-color;
}

.text--normal, div > .text--normal {
  text-transform: initial !important;
}

.text-overflow, div > .text-overflow {
  text-overflow: initial !important;
}

.white-space-no-wrap, div > .white-space-no-wrap {
  white-space: normal !important;
}

.flex-form, div > .flex-form {
  display: flex;
  flex-wrap: wrap;
  & > .v-input {
    flex-grow: 1;
    margin-right: .5em;
  }
}

.mouse-click, div > .mouse-click {
  cursor: pointer;
}