/* Variables */
$admin-bg-color: #FAFAFA;

.bg-primary {
  color: white !important;
}

.admin-bg-color {
  background-color: $admin-bg-color;
}

.text--normal {
  text-transform: initial !important;
}

.text-overflow {
  text-overflow: initial !important;
}

.white-space-no-wrap {
  white-space: normal !important;
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  & > .v-input {
    flex-grow: 1;
    margin-right: .5em;
  }
}